<div class="col-6 mx-auto">
<h1>What is your question?</h1>

<form action="/answer" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input class="form-control" type="submit" value="Ask!">
</form>
</div>
